<div>
    <mat-card>
        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Total Population</legend>
                <mat-icon matSuffix matTooltip="The “Total Population” shows either the one from the *Base Calculation* tab or one from your selected Countries." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill">
                    <mat-label>Total Population</mat-label>
                    <mat-select (selectionChange)="onPopulationSelectionChange($event)">
                      <mat-optgroup label="Total Landmass Population">
                        <mat-option [value]="landmass" [disabled]="isNaN(landmass.baseCalculation.variables.pop1)">
                            <span *ngIf="!isNaN(landmass.baseCalculation.variables.pop1); else noValue">
                                {{landmass.baseCalculation.variables.pop1 | number:'1.0-0'}}
                            </span>
                            <ng-template #noValue>
                                <i>Not calculated yet</i>
                            </ng-template>
                        </mat-option>
                      </mat-optgroup>
                      <mat-optgroup label="Nations">
                        <mat-option [value]="nation" *ngFor="let nation of nations" [disabled]="isNaN(nation.variables.p3)">
                            <span *ngIf="!isNaN(nation.variables.p3); else noValue">{{nation.name}} - {{nation.variables.p3 | number:'1.0-0'}}</span>
                            <ng-template #noValue>
                                <i>Not calculated yet</i>
                            </ng-template>
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </fieldset>


        <div *ngIf="selectedDemographicsObject">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column w-50">
                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Magical Population</legend>
                        </div>
                        <div class="d-flex">
                            <mat-form-field appearance="fill" class="w-50">
                                <mat-label>Magical Population in %</mat-label>
                                <input matInput type="text" digitOnly [decimal]="true" [ngModel]="selectedDemographicsObject.variables.mp1" (ngModelChange)="onMagicalPopulationUpdate($event)">
                                <span matSuffix>%</span>
                            </mat-form-field>

                            <h4 class="m-2"></h4>

                            <mat-form-field appearance="fill" class="w-50">
                                <mat-label>Amount of Magical Population</mat-label>
                                <input matInput type="text" disabled [ngModel]="population/100*selectedDemographicsObject.variables.mp1 | number:'1.0-0'">
                            </mat-form-field>
                        </div>
                    </fieldset>
                </div>

                <div *ngIf="selectedDemographicsObject.variables.mp2 && selectedDemographicsObject.variables.mp3">
                    <canvas baseChart
                        [options] = "{ tooltips: { enabled: false }, events: [] }"
                        [data]="[selectedDemographicsObject.variables.mp2, selectedDemographicsObject.variables.mp3]"
                        [labels]="['Magical Population', 'Non-Magical Population']"
                        chartType="pie"
                        style="height: 200px">
                    </canvas>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between">

                <div class="d-flex flex-column w-50">
                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Class levels per population</legend>
                            <div class="d-flex flex-fill">
                                <ng-template let-color="color()" let-total="total"
                                    [ngTemplateOutletContext]="getAccumulatedPercentageAndColor([
                                        +classLevelsPerPopulation.wp,
                                        +classLevelsPerPopulation.mc,
                                        +classLevelsPerPopulation.pp,
                                        +classLevelsPerPopulation.sp
                                    ])"
                                    [ngTemplateOutlet]="accumulatedClassLevels" #accumulatedClassLevels>

                                    <div class="d-flex flex-fill align-items-center" *ngIf="+total >= 0">
                                        <div class="flex-fill border-bottom mx-2"></div>
                                        <span [ngStyle]="{'color': color}">{{total}}%</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>

                        <div class="d-flex flex-column">

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Wealthy Population in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="classLevelsPerPopulation.wp">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Wealthy Population</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*classLevelsPerPopulation.wp | number:'1.0-0'">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Middle Class Population in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="classLevelsPerPopulation.mc">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Middle Class Population</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*classLevelsPerPopulation.mc | number:'1.0-0'">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Poor Population in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="classLevelsPerPopulation.pp">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Poor Population</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*classLevelsPerPopulation.pp | number:'1.0-0'">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Slave Population in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="classLevelsPerPopulation.sp">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Slave Population</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*classLevelsPerPopulation.sp | number:'1.0-0'">
                                </mat-form-field>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div *ngIf="classLevelsPerPopulation.wp && classLevelsPerPopulation.mc && classLevelsPerPopulation.pp && classLevelsPerPopulation.sp">
                    <canvas baseChart
                        [data]="getObjectValuesForChart(classLevelsPerPopulation)"
                        [labels]="getChartLabelsForKey('classLevels')"
                        chartType="pie"
                        style="height: 200px">
                    </canvas>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between">

                <div class="d-flex flex-column w-50">
                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Education per population</legend>
                            <div class="d-flex flex-fill">
                                <ng-template let-color="color()" let-total="total"
                                    [ngTemplateOutletContext]="getAccumulatedPercentageAndColor([
                                        +educationPerPopulation.we,
                                        +educationPerPopulation.me,
                                        +educationPerPopulation.pe,
                                        +educationPerPopulation.ir,
                                    ])"
                                    [ngTemplateOutlet]="accumulatedEducationPerPopulation" #accumulatedEducationPerPopulation>

                                    <div class="d-flex flex-fill align-items-center" *ngIf="+total >= 0">
                                        <div class="flex-fill border-bottom mx-2"></div>
                                        <span [ngStyle]="{'color': color}">{{total}}%</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>

                        <div class="d-flex flex-column">
                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Well Educated in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="educationPerPopulation.we">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Well Educated</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*educationPerPopulation.we | number:'1.0-0'">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Mediocre Educated in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="educationPerPopulation.me">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Mediocre Educated</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*educationPerPopulation.me | number:'1.0-0'">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Poor Educated in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="educationPerPopulation.pe">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Poor Educated</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*educationPerPopulation.pe | number:'1.0-0'">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Illiterate rate in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="educationPerPopulation.ir">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount of Illiterate rate</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*educationPerPopulation.ir | number:'1.0-0'">
                                </mat-form-field>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div *ngIf="educationPerPopulation.we && educationPerPopulation.me && educationPerPopulation.pe && educationPerPopulation.ir">
                    <canvas baseChart
                        [data]="getObjectValuesForChart(educationPerPopulation)"
                        [labels]="getChartLabelsForKey('education')"
                        chartType="pie"
                        style="height: 200px">
                    </canvas>
                </div>
            </div>

            <fieldset class="my-3">
                <div class="d-flex align-items-center mb-2 w-50">
                    <legend class="w-auto m-0">Ethnicity per population</legend>
                    <div class="d-flex flex-fill">
                        <ng-template let-color="color()" let-total="total"
                            [ngTemplateOutletContext]="getAccumulatedPercentageAndColor(getDataForDynamicChart(ethnicities))"
                            [ngTemplateOutlet]="accumulatedEthnicityPerPopulation" #accumulatedEthnicityPerPopulation>
                            <div class="d-flex flex-fill align-items-center" *ngIf="ethnicities[0].name && +total >= 0">
                                <div class="flex-fill border-bottom mx-2"></div>
                                <span [ngStyle]="{'color': color}">{{total}}%</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="w-50">
                        <div class="d-flex flex-column justify-content-between border mb-2 p-3" *ngFor="let ethnicity of ethnicities">
                            <div class="d-flex w-100">
                                <div class="p-2">
                                    <button mat-icon-button (click)="ethnicity.editing = !ethnicity.editing">
                                        <mat-icon>{{ ethnicity?.editing ? 'done' : 'edit'}}</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field appearance="fill" class="flex-grow-1">
                                    <mat-label>Ethnicity Name</mat-label>
                                    <input [disabled]="!!!ethnicity.editing" matInput [(ngModel)]="ethnicity.name" placeholder="Ethnicity Name...">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="ethnicity.percentage" placeholder="Ethnicity percentage...">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*ethnicity.percentage | number:'1.0-0'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <canvas baseChart
                            *ngIf="!dynamicChartMap.ethnicity.rerender && ethnicities[0].name"
                            [data]="getDataForDynamicChart(ethnicities)"
                            [labels]="getLabelsForDynamicChart(ethnicities)"
                            chartType="pie"
                            style="height: 200px">
                        </canvas>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <button mat-icon-button (click)="addNewChartField(dynamicChartMap.ethnicity)">
                            <mat-icon>{{ dynamicChartMap.ethnicity.addNew ? 'done' : 'add'}}</mat-icon>
                        </button>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <span *ngIf="!dynamicChartMap.ethnicity.addNew; else addNewEthnicity">
                            Add Ethnicity
                        </span>

                        <ng-template #addNewEthnicity>
                            <input matInput [(ngModel)]="dynamicChartMap.ethnicity.fieldName" placeholder="Ethnicity name...">
                        </ng-template>
                    </div>
                </div>
            </fieldset>

            <fieldset class="my-3">
                <div class="d-flex align-items-center mb-2 w-50">
                    <legend class="w-auto m-0">Culture per population</legend>
                    <div class="d-flex flex-fill">
                        <ng-template let-color="color()" let-total="total"
                            [ngTemplateOutletContext]="getAccumulatedPercentageAndColor(getDataForDynamicChart(cultures))"
                            [ngTemplateOutlet]="accumulatedCultures" #accumulatedCultures>
                            <div class="d-flex flex-fill align-items-center" *ngIf="cultures[0].name && +total >= 0">
                                <div class="flex-fill border-bottom mx-2"></div>
                                <span [ngStyle]="{'color': color}">{{total}}%</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="w-50">
                        <div class="d-flex flex-column justify-content-between border mb-2 p-3" *ngFor="let culture of cultures">
                            <div class="d-flex w-100">
                                <div class="p-2">
                                    <button mat-icon-button (click)="culture.editing = !culture.editing">
                                        <mat-icon>{{ culture?.editing ? 'done' : 'edit'}}</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field appearance="fill" class="flex-grow-1">
                                    <mat-label>Culture Name</mat-label>
                                    <input [disabled]="!!!culture.editing" matInput [(ngModel)]="culture.name" placeholder="Culture Name...">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="culture.percentage" placeholder="Culture percentage...">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*culture.percentage | number:'1.0-0'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <canvas baseChart
                            *ngIf="!dynamicChartMap.culture.rerender && cultures[0].name"
                            [data]="getDataForDynamicChart(cultures)"
                            [labels]="getLabelsForDynamicChart(cultures)"
                            chartType="pie"
                            style="height: 200px">
                        </canvas>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <button mat-icon-button (click)="addNewChartField(dynamicChartMap.culture)">
                            <mat-icon>{{ dynamicChartMap.culture.addNew ? 'done' : 'add'}}</mat-icon>
                        </button>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <span *ngIf="!dynamicChartMap.culture.addNew; else addNewCulture">
                            Add Culture
                        </span>

                        <ng-template #addNewCulture>
                            <input matInput [(ngModel)]="dynamicChartMap.culture.fieldName" placeholder="Culture name...">
                        </ng-template>
                    </div>
                </div>
            </fieldset>

            <fieldset class="my-3">
                <div class="d-flex align-items-center mb-2 w-50">
                    <legend class="w-auto m-0">Religion per population</legend>
                    <div class="d-flex flex-fill">
                        <ng-template let-color="color()" let-total="total"
                            [ngTemplateOutletContext]="getAccumulatedPercentageAndColor(getDataForDynamicChart(religions))"
                            [ngTemplateOutlet]="accumulatedReligions" #accumulatedReligions>
                            <div class="d-flex flex-fill align-items-center" *ngIf="religions[0].name && +total >= 0">
                                <div class="flex-fill border-bottom mx-2"></div>
                                <span [ngStyle]="{'color': color}">{{total}}%</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="w-50">
                        <div class="d-flex flex-column justify-content-between border mb-2 p-3" *ngFor="let religion of religions">
                            <div class="d-flex w-100">
                                <div class="p-2">
                                    <button mat-icon-button (click)="religion.editing = !religion.editing">
                                        <mat-icon>{{ religion?.editing ? 'done' : 'edit'}}</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field appearance="fill" class="flex-grow-1">
                                    <mat-label>Religion Name</mat-label>
                                    <input [disabled]="!!!religion.editing" matInput [(ngModel)]="religion.name" placeholder="Religion Name...">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="religion.percentage" placeholder="Religion percentage...">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*religion.percentage | number:'1.0-0'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <canvas baseChart
                            *ngIf="!dynamicChartMap.religion.rerender && religions[0].name"
                            [data]="getDataForDynamicChart(religions)"
                            [labels]="getLabelsForDynamicChart(religions)"
                            chartType="pie"
                            style="height: 200px">
                        </canvas>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <button mat-icon-button (click)="addNewChartField(dynamicChartMap.religion)">
                            <mat-icon>{{ dynamicChartMap.religion.addNew ? 'done' : 'add'}}</mat-icon>
                        </button>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <span *ngIf="!dynamicChartMap.religion.addNew; else addNewReligion">
                            Add Religion
                        </span>

                        <ng-template #addNewReligion>
                            <input matInput [(ngModel)]="dynamicChartMap.religion.fieldName" placeholder="Religion name...">
                        </ng-template>
                    </div>
                </div>
            </fieldset>

            <fieldset class="my-3">
                <div class="d-flex align-items-center mb-2 w-50">
                    <legend class="w-auto m-0">Race per population</legend>
                    <div class="d-flex flex-fill">
                        <ng-template let-color="color()" let-total="total"
                            [ngTemplateOutletContext]="getAccumulatedPercentageAndColor(getDataForDynamicChart(races))"
                            [ngTemplateOutlet]="accumulatedRaces" #accumulatedRaces>
                            <div class="d-flex flex-fill align-items-center" *ngIf="races[0].name && +total >= 0">
                                <div class="flex-fill border-bottom mx-2"></div>
                                <span [ngStyle]="{'color': color}">{{total}}%</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="w-50">
                        <div class="d-flex flex-column justify-content-between border mb-2 p-3" *ngFor="let race of races">
                            <div class="d-flex w-100">
                                <div class="p-2">
                                    <button mat-icon-button (click)="race.editing = !race.editing">
                                        <mat-icon>{{ race?.editing ? 'done' : 'edit'}}</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field appearance="fill" class="flex-grow-1">
                                    <mat-label>Race Name</mat-label>
                                    <input [disabled]="!!!race.editing" matInput [(ngModel)]="race.name" placeholder="Race Name...">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="race.percentage" placeholder="Race percentage...">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*race.percentage | number:'1.0-0'">
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                    <div>
                        <canvas baseChart
                            *ngIf="!dynamicChartMap.race.rerender && races[0].name"
                            [data]="getDataForDynamicChart(races)"
                            [labels]="getLabelsForDynamicChart(races)"
                            chartType="pie"
                            style="height: 200px">
                        </canvas>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <button mat-icon-button (click)="addNewChartField(dynamicChartMap.race)">
                            <mat-icon>{{ dynamicChartMap.race.addNew ? 'done' : 'add'}}</mat-icon>
                        </button>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <span *ngIf="!dynamicChartMap.race.addNew; else addNewRace">
                            Add Race
                        </span>

                        <ng-template #addNewRace>
                            <input matInput [(ngModel)]="dynamicChartMap.race.fieldName" placeholder="Race name...">
                        </ng-template>
                    </div>
                </div>
            </fieldset>

            <fieldset class="my-3">
                <div class="d-flex align-items-center mb-2 w-50">
                    <legend class="w-auto m-0">Language per population</legend>
                    <div class="d-flex flex-fill">
                        <ng-template let-color="color()" let-total="total"
                            [ngTemplateOutletContext]="getAccumulatedPercentageAndColor(getDataForDynamicChart(languages))"
                            [ngTemplateOutlet]="accumulatedLanguages" #accumulatedLanguages>
                            <div class="d-flex flex-fill align-items-center" *ngIf="languages[0].name && +total >= 0">
                                <div class="flex-fill border-bottom mx-2"></div>
                                <span [ngStyle]="{'color': color}">{{total}}%</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="w-50">
                        <div class="d-flex flex-column justify-content-between border mb-2 p-3" *ngFor="let language of languages">
                            <div class="d-flex w-100">
                                <div class="p-2">
                                    <button mat-icon-button (click)="language.editing = !language.editing">
                                        <mat-icon>{{ language?.editing ? 'done' : 'edit'}}</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field appearance="fill" class="flex-grow-1">
                                    <mat-label>Language Name</mat-label>
                                    <input [disabled]="!!!language.editing" matInput [(ngModel)]="language.name" placeholder="Language Name...">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="language.percentage" placeholder="Language percentage...">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*language.percentage | number:'1.0-0'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <canvas baseChart
                            *ngIf="!dynamicChartMap.language.rerender && languages[0].name"
                            [data]="getDataForDynamicChart(languages)"
                            [labels]="getLabelsForDynamicChart(languages)"
                            chartType="pie"
                            style="height: 200px">
                        </canvas>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <button mat-icon-button (click)="addNewChartField(dynamicChartMap.language)">
                            <mat-icon>{{ dynamicChartMap.language.addNew ? 'done' : 'add'}}</mat-icon>
                        </button>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <span *ngIf="!dynamicChartMap.language.addNew; else addNewLanguage">
                            Add Language
                        </span>

                        <ng-template #addNewLanguage>
                            <input matInput [(ngModel)]="dynamicChartMap.language.fieldName" placeholder="Language name...">
                        </ng-template>
                    </div>
                </div>
            </fieldset>

            <fieldset class="my-3">
                <div class="d-flex align-items-center mb-2 w-50">
                    <legend class="w-auto m-0">Political Affliations per population</legend>
                    <div class="d-flex flex-fill">
                        <ng-template let-color="color()" let-total="total"
                            [ngTemplateOutletContext]="getAccumulatedPercentageAndColor(getDataForDynamicChart(politicalAffliations))"
                            [ngTemplateOutlet]="accumulatedPoliticalAffliations" #accumulatedPoliticalAffliations>
                            <div class="d-flex flex-fill align-items-center" *ngIf="politicalAffliations[0].name && +total >= 0">
                                <div class="flex-fill border-bottom mx-2"></div>
                                <span [ngStyle]="{'color': color}">{{total}}%</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="w-50">
                        <div class="d-flex flex-column justify-content-between border mb-2 p-3" *ngFor="let politicalAffliation of politicalAffliations">
                            <div class="d-flex w-100">
                                <div class="p-2">
                                    <button mat-icon-button (click)="politicalAffliation.editing = !politicalAffliation.editing">
                                        <mat-icon>{{ politicalAffliation?.editing ? 'done' : 'edit'}}</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field appearance="fill" class="flex-grow-1">
                                    <mat-label>Political Affliation</mat-label>
                                    <input [disabled]="!!!politicalAffliation.editing" matInput [(ngModel)]="politicalAffliation.name" placeholder="Political Affliation Name...">
                                </mat-form-field>
                            </div>

                            <div class="d-flex">
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>in %</mat-label>
                                    <input matInput type="text" digitOnly [decimal]="true" [(ngModel)]="politicalAffliation.percentage" placeholder="Political Affliation percentage...">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                                <h4 class="m-2"></h4>

                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="text" disabled [ngModel]="population/100*politicalAffliation.percentage | number:'1.0-0'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <canvas baseChart
                            *ngIf="!dynamicChartMap.politicalAffliation.rerender && politicalAffliations[0].name"
                            [data]="getDataForDynamicChart(politicalAffliations)"
                            [labels]="getLabelsForDynamicChart(politicalAffliations)"
                            chartType="pie"
                            style="height: 200px">
                        </canvas>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <button mat-icon-button (click)="addNewChartField(dynamicChartMap.politicalAffliation)">
                            <mat-icon>{{ dynamicChartMap.politicalAffliation.addNew ? 'done' : 'add'}}</mat-icon>
                        </button>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <span *ngIf="!dynamicChartMap.politicalAffliation.addNew; else addNewPoliticalAffliation">
                            Add Political Affliation
                        </span>

                        <ng-template #addNewPoliticalAffliation>
                            <input matInput [(ngModel)]="dynamicChartMap.politicalAffliation.fieldName" placeholder="Political Affliation name...">
                        </ng-template>
                    </div>
                </div>
            </fieldset>
        </div>
    </mat-card>
</div>