<div>
    <div *ngFor="let nation of populationCalculation.nations" class="mb-3">
        <mat-accordion>
            <ng-template #nationHeader>
                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <button mat-icon-button (click)="nation.editing = !nation.editing">
                            <mat-icon>{{ nation.editing ? 'done' : 'edit'}}</mat-icon>
                        </button>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <h4 class="m-0" *ngIf="!nation.editing; else editMode">
                            {{nation.name}}
                        </h4>

                        <ng-template #editMode>
                            <input matInput [(ngModel)]="nation.name" placeholder="Nation name..." autofocus>
                        </ng-template>
                    </div>

                    <div class="p-2">
                        <button mat-icon-button (click)="copyNation(nation)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>

                    <div class="p-2">
                        <button mat-icon-button (click)="deleteNation(nation)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>

                    <div class="p-2">
                        <button mat-icon-button (click)="nation.expanded = !nation.expanded">
                            <mat-icon>
                                {{nation.expanded ? 'expand_less' : 'expand_more'}}
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </ng-template>

            <mat-card *ngIf="!nation.expanded">
                <ng-template [ngTemplateOutlet]="nationHeader"></ng-template>
            </mat-card>

            <mat-expansion-panel [expanded]='nation.expanded' class="mep-no-padding">
                <mat-card>
                    <ng-template [ngTemplateOutlet]="nationHeader"></ng-template>

                    <hr>

                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Total Population</legend>
                            <mat-icon matSuffix
                                matTooltip="The “Total Population” is the same as the one in the *Base Calculation* Tab"
                                class="ms-2">info</mat-icon>
                        </div>

                        <div class="d-flex">
                            <mat-form-field appearance="fill" class="w-50">
                                <mat-label>Total Population</mat-label>
                                <input matInput disabled [ngModel]="selectedLandmass.baseCalculation.variables.pop1">
                            </mat-form-field>
                        </div>
                    </fieldset>

                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Country Size</legend>
                            <mat-icon matSuffix matTooltip="The “Country Size” option shows the size of the current nation you want to calculate.
                    This is only important for the “Population Density” option, for other further
                    calculations is it not important and could be ignored." class="ms-2">info</mat-icon>
                        </div>

                        <div class="d-flex align-items-center justify-content-center">
                            <mat-form-field appearance="fill" class="w-50">
                                <mat-label>Country Size in Km² </mat-label>
                                <input matInput type="text" digitOnly [decimal]="true" [ngModel]="nation.variables.cs1"
                                    (ngModelChange)="onCountrySizeUpdate($event, nation, 'cs1')">
                            </mat-form-field>

                            <h4 class="m-2">=</h4>

                            <mat-form-field appearance="fill" class="w-50">
                                <mat-label>Country Size in %</mat-label>
                                <input matInput type="text" digitOnly [decimal]="true" [ngModel]="nation.variables.cs2"
                                    (ngModelChange)="onCountrySizeUpdate($event, nation, 'cs2')">
                            </mat-form-field>
                        </div>
                    </fieldset>

                    <div class="d-flex align-items-center justify-content-center">
                        <fieldset class="my-3 w-50">
                            <div class="d-flex align-items-center mb-2">
                                <legend class="w-auto m-0">Population Destribution %</legend>
                                <mat-icon matSuffix
                                    matTooltip="The “Population Distribution” shows how many people are distributed into yourcountry defined from the “Total Population”"
                                    class="ms-2">info</mat-icon>
                            </div>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Population Destribution %</mat-label>
                                <input matInput type="text" digitOnly [decimal]="true" [ngModel]="nation.variables.npd1" (ngModelChange)="onPopulationDistributionChange($event, nation)">
                            </mat-form-field>
                        </fieldset>

                        <h4 class="m-2"></h4>

                        <fieldset class="my-3 w-50">
                            <div class="d-flex align-items-center mb-2">
                                <legend class="w-auto m-0">Population Density</legend>
                                <mat-icon matSuffix
                                    matTooltip="The “Population Density” shows the amount of population per Km²"
                                    class="ms-2">info</mat-icon>
                            </div>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Population Density</mat-label>
                                <input matInput type="text" [ngModel]="nation.variables.popd" disabled>
                            </mat-form-field>
                        </fieldset>
                    </div>

                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Total Regional Population</legend>
                            <mat-icon matSuffix
                                matTooltip=""
                                class="ms-2">info</mat-icon>
                        </div>
                        <mat-form-field appearance="fill" class="w-50">
                            <mat-label>Total Regional Population</mat-label>
                            <input matInput type="text" [ngModel]="nation.variables.npd2" disabled>
                        </mat-form-field>
                    </fieldset>

                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Disaster Losses</legend>
                            <mat-icon matSuffix
                                matTooltip="The “Disaster Losses” show how much population might have died during a war, a plague or other causes of massive death. If you have no losses write the number 0 in the option field."
                                class="ms-2">info</mat-icon>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <mat-form-field appearance="fill" class="w-50">
                                <mat-label>Disaster Losses in %</mat-label>
                                <input matInput type="text" digitOnly [decimal]="true" [ngModel]="nation.variables.p1" (ngModelChange)="onDisasterLossesChange($event, nation)">
                            </mat-form-field>

                            <h4 class="m-2"></h4>

                            <mat-form-field appearance="fill" class="w-50">
                                <mat-label>Leftover population</mat-label>
                                <input matInput type="text" [ngModel]="nation.variables.p3" disabled>
                            </mat-form-field>
                        </div>
                    </fieldset>

                    <fieldset class="my-3">
                        <div class="d-flex align-items-center mb-2">
                            <legend class="w-auto m-0">Population Division</legend>
                        </div>
                        <table class="table table-hover w-100" id="populationDivision">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">Males in %</th>
                                    <th scope="col">Females in %</th>
                                    <th scope="col">Total in %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th>Insert % Numbers</th>
                                    <td>
                                        <input class="form-control table-input" type="text" digitOnly [decimal]="true"
                                            [(ngModel)]="nation.variables.m"
                                            (ngModelChange)="onTableValueUpdate(nation)">
                                    </td>
                                    <td>
                                        <input class="form-control table-input" type="text" digitOnly [decimal]="true"
                                            [(ngModel)]="nation.variables.f"
                                            (ngModelChange)="onTableValueUpdate(nation)">
                                    </td>
                                    <td>{{(+nation.variables.m) + (+nation.variables.f)}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Elderly in %</th>
                                    <td>
                                        <input class="form-control table-input" type="text" digitOnly [decimal]="true"
                                            [(ngModel)]="nation.variables.ey1"
                                            (ngModelChange)="onTableValueUpdate(nation)">
                                    </td>
                                    <td>{{nation.variables.ey2}}</td>
                                    <td>{{nation.variables.ey3}}</td>
                                    <td>{{nation.variables.ey4}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Adults in %</th>
                                    <td>
                                        <input class="form-control table-input" type="text" digitOnly [decimal]="true"
                                            [(ngModel)]="nation.variables.ad1"
                                            (ngModelChange)="onTableValueUpdate(nation)">
                                    </td>
                                    <td>{{nation.variables.ad2}}</td>
                                    <td>{{nation.variables.ad3}}</td>
                                    <td>{{nation.variables.ad4}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Children in %</th>
                                    <td>
                                        <input class="form-control table-input" type="text" digitOnly [decimal]="true"
                                            [(ngModel)]="nation.variables.ch1"
                                            (ngModelChange)="onTableValueUpdate(nation)">
                                    </td>
                                    <td>{{nation.variables.ch2}}</td>
                                    <td>{{nation.variables.ch3}}</td>
                                    <td>{{nation.variables.ch4}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total in %</th>
                                    <td>
                                        {{+nation.variables.ey1 + (+nation.variables.ad1) + (+nation.variables.ch1) }}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="w-50">
                            <fieldset class="my-3">
                                <div class="d-flex align-items-center mb-2">
                                    <legend class="w-auto m-0">Country Aggression</legend>
                                    <mat-icon matSuffix matTooltip="The “Country Aggression” shows how aggressive this country is towards its neighbours.
                            A more aggressive nation tends to field a bigger army by default." class="ms-2">info</mat-icon>
                                </div>
                                <div class="d-flex align-items-center">
                                    <mat-slider thumbLabel [ngModel]="nation.variables.ca" (ngModelChange)="onThreatChange($event,'ca',nation)"></mat-slider>
                                    <h4 class="m-2">=</h4>
                                    <mat-hint>{{ getSliderLabel(nation.variables.ca, 'ca') }}</mat-hint>
                                </div>
                            </fieldset>

                            <fieldset class="my-3">
                                <div class="d-flex align-items-center mb-2">
                                    <legend class="w-auto m-0">Internal Threats</legend>
                                    <mat-icon matSuffix
                                        matTooltip="The “Internal Threats” shows how unstable the country is. The more unstable the more soldiers have to go around to secure the peace."
                                        class="ms-2">info</mat-icon>
                                </div>
                                <div class="d-flex align-items-center">
                                    <mat-slider thumbLabel [ngModel]="nation.variables.it" (ngModelChange)="onThreatChange($event,'it',nation)"></mat-slider>
                                    <h4 class="m-2">=</h4>
                                    <mat-hint>{{ getSliderLabel(nation.variables.it, 'it') }}</mat-hint>
                                </div>
                            </fieldset>

                            <fieldset class="my-3">
                                <div class="d-flex align-items-center mb-2">
                                    <legend class="w-auto m-0">External Threats</legend>
                                    <mat-icon matSuffix
                                        matTooltip="The “External Threats” shows how the external threats are, these can be another nation, multiple other nations or any other magical or godly threat defeat able by armies."
                                        class="ms-2">info</mat-icon>
                                </div>
                                <div class="d-flex align-items-center">
                                    <mat-slider thumbLabel [ngModel]="nation.variables.et" (ngModelChange)="onThreatChange($event,'et',nation)"></mat-slider>
                                    <h4 class="m-2">=</h4>
                                    <mat-hint>{{ getSliderLabel(nation.variables.et, 'et') }}</mat-hint>
                                </div>
                            </fieldset>

                            <fieldset class="my-3">
                                <div class="d-flex align-items-center mb-2">
                                    <legend class="w-auto m-0">Total Threat Modifier</legend>
                                    <mat-icon matSuffix
                                        matTooltip="The “External Threats” shows how the external threats are, these can be another nation, multiple other nations or any other magical or godly threat defeat able by armies."
                                        class="ms-2">info</mat-icon>
                                </div>
                                <mat-form-field appearance="fill" class="w-50">
                                    <mat-label>Total Threat Modifier</mat-label>
                                    <input matInput type="text" disabled [(ngModel)]="nation.variables.ttm">
                                </mat-form-field>
                            </fieldset>

                        </div>

                        <div class="w-50 border p-3">
                            <div class="d-flex justify-content-center align-items-center mb-2">
                                <h4 class="w-auto text-center fw-bold m-0">Adult Army Size</h4>
                                <mat-icon matSuffix
                                    matTooltip="The “Army Size” Shows how many people could be in the army according to the previous threats. You can increase this number if you think it is too low or decrease if you think it is too high, either way this number is only a suggestive one."
                                    class="ms-2">info</mat-icon>
                            </div>

                            <fieldset class="my-3">
                                <div class="d-flex align-items-center mb-2">
                                    <legend class="w-auto m-0">Male</legend>
                                </div>
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Male</mat-label>
                                    <input matInput type="text" disabled [(ngModel)]="nation.variables.maleArmySize">
                                </mat-form-field>
                            </fieldset>

                            <fieldset class="my-3">
                                <div class="d-flex align-items-center mb-2">
                                    <legend class="w-auto m-0">Female</legend>

                                </div>
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Female</mat-label>
                                    <input matInput type="text" disabled [(ngModel)]="nation.variables.femaleArmySize">
                                </mat-form-field>
                            </fieldset>

                            <fieldset class="my-3">
                                <div class="d-flex align-items-center mb-2">
                                    <legend class="w-auto m-0">Mixed</legend>
                                </div>
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Mixed</mat-label>
                                    <input matInput type="text" disabled [(ngModel)]="nation.variables.mixedArmySize">
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <mat-card>
        <div class="d-flex align-items-center">
            <div class="p-2">
                <button mat-icon-button (click)="addNation()">
                    <mat-icon>{{ addNewNation ? 'done' : 'add'}}</mat-icon>
                </button>
            </div>
            <div class="p-2 flex-grow-1">
                <span *ngIf="!addNewNation; else addNew">
                    Add Nation
                </span>

                <ng-template #addNew>
                    <input matInput [(ngModel)]="newNation" placeholder="Nation name...">
                </ng-template>
            </div>
        </div>
    </mat-card>
</div>