<div class="mt-4">
    <h1>Landmass Name</h1>
</div>


<mat-tab-group>
    <mat-tab label="Cities">
        <app-cities></app-cities>
    </mat-tab>
    <mat-tab label="Demographics">
        <app-simple-and-piechart-demographics></app-simple-and-piechart-demographics>
    </mat-tab>
    <mat-tab label="Population Calculation">
        <app-population-calculation></app-population-calculation>
    </mat-tab>
    <mat-tab label="Base Calculation">
        <app-base-calculation></app-base-calculation>
    </mat-tab>
</mat-tab-group>
