<div>
    <mat-card>
        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Total Population</legend>
                <mat-icon matSuffix matTooltip="The “Total Population” shows the rough estimate of the population in your defined area (“Total Land Size”) it is a result of the fertile land or farmable land and the technology and magic modifiers." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Total Population</mat-label>
                    <input matInput type="text" disabled [ngModel]="baseCalculation.variables.pop1 | number:'1.0-0'">
                </mat-form-field>

                <h4 class="m-2"></h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Population in Million</mat-label>
                    <input matInput type="text" disabled [value]="baseCalculation.variables.pop1 / 1000000 | number:'1.0-0'">
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Total Land Size</legend>
                <mat-icon matSuffix matTooltip="The “Total Land Size” shows the entire area of the Landmass you want to calculate, it
                is preferable for this file to use larger landmasses like a Continent or the entire world.
                Smaller areas are possible to calculate in this step but might get some false results." class="ms-2">info</mat-icon>
            </div>
            <div class="d-flex align-items-start">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Total Land Size</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.a1" (ngModelChange)="onModifierSelect($event, 'a1')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <div class="m-2"></div>

                <div class="d-flex flex-column">
                    <a href="" style="margin-bottom: 0.85rem;">Calculating Landmasses in Gimp 2 (Free)</a>
                    <a href="">Calculating Landmasses in Photoshop</a>
                </div>
            </div>

        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Forest</legend>
                <mat-icon matSuffix matTooltip="“Forests” are liveable areas and thus have a smaller impact on the population amount." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Forest in Area</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.f1 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'f1','f2')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <h4 class="m-2">=</h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Forest in %</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.f2 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'f2','f1')">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Dense Foliage</legend>
                <mat-icon matSuffix matTooltip="With “Dense Foliage” is meant the dense unkept ancient forests or Jungles, it can also
                mean flora which regrows quickly or is not managed by man." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Dense Foliage in Area</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.df1 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'df1','df2')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <h4 class="m-2">=</h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Dense Foliage in %</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.df2 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'df2','df1')">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Freshwater</legend>
                <mat-icon matSuffix matTooltip="“Freshwater” similar to the “Forests” do not have a high impact on the population
                amount. It shows rivers or lakes made out of freshwater." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Freshwater in Area</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.fw1 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'fw1','fw2')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <h4 class="m-2">=</h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Freshwater in %</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.fw2 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'fw2','fw1')">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Mountains</legend>
                <mat-icon matSuffix matTooltip="The “Mountain” are does not include the lush valley, only hard to inhabitable zones
                like glaciers mountain peaks or rocky cliffs." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Mountains in Area</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.m1 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'m1','m2')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <h4 class="m-2">=</h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Mountains in Area%</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.m2 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'m2','m1')">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Deserts and Tundras</legend>
                <mat-icon matSuffix matTooltip="“Deserts and Tundras” show the either hot and dry or cold and dry climates. These
                climates are mostly uninhabited by man and its hard or impossible to grow plants. Ice
                caps, Tundras, Hot and Cold Deserts are part of this classification." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Desert & Tundra in Area</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.dt1 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'dt1','dt2')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <h4 class="m-2">=</h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Desert & Tundra in %</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.dt2 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'dt2','dt1')">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Rocky Hills</legend>
                <mat-icon matSuffix matTooltip="The “Rocky Hills” show hills, or other areas that have a hard underground, usually
                some rocks or gravel like substances which are tedious to remove for farmable land." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Rocky Hills in Area</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.ra1 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'ra1','ra2')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <h4 class="m-2">=</h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Rocky Hills in %</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.ra2 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'ra2','ra1')">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Hot and Cold Steppes</legend>
                <mat-icon matSuffix matTooltip="“Hot and Cold Steppes” are similar but less harsh to the flore and fauna as “Deserts
                and Tundras” these include other less dry lands like hot and cold Semi-Arid Climates
                Subarctic climates or tropical Savannas." class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Cold & Hot Steppe in Area</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.ds1 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'ds1','ds2')">
                    <span matSuffix>km²</span>
                </mat-form-field>

                <h4 class="m-2">=</h4>

                <mat-form-field appearance="fill" class="w-50">
                    <mat-label>Cold & Hot Steppe in %</mat-label>
                    <input matInput type="text" digitOnly [decimal]="true" [ngModel]="baseCalculation.variables.ds2 | number : '1.0-4' | noComma" (ngModelChange)="onChange($event,'ds2','ds1')">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Technology Modifier</legend>
                <mat-icon matSuffix matTooltip="The “Technology Modifier” shows what medical technology (NO OTHER
                TECHNOLOGY) your landmass or Continent is at. This assumes a steady climb from
                very bad (Bronze Age) to very good (Futuristic). The decline of medical technology like
                medieval Europe had compared to ancient Rome is not included in these modifiers.
                Choose a previous modifier if your medical technology had a decline, or if your military
                technology does not compare to your medical technology (either worse or better)" class="ms-2">info</mat-icon>
            </div>

            <div class="d-flex align-items-center">
                <mat-form-field appearance="fill">
                    <mat-label>Technology Modifier</mat-label>
                    <mat-select [ngModel]="baseCalculation.variables.tm1" (ngModelChange)="onModifierSelect($event, 'tm1')">
                        <mat-option [value]="0.8">Bronze Age</mat-option>
                        <mat-option [value]="1.0">Early Ancient</mat-option>
                        <mat-option [value]="1.1">Ancient</mat-option>
                        <mat-option [value]="1.2">Late Ancient</mat-option>
                        <mat-option [value]="1.3">Early Medieval</mat-option>
                        <mat-option [value]="1.4">Medieval</mat-option>
                        <mat-option [value]="1.7">Late Medieval</mat-option>
                        <mat-option [value]="1.9">Early Renaissance</mat-option>
                        <mat-option [value]="2.3">Renaissance</mat-option>
                        <mat-option [value]="2.7">Early Industrial</mat-option>
                        <mat-option [value]="3.5">Industrial</mat-option>
                        <mat-option [value]="10.0">Early Modern</mat-option>
                        <mat-option [value]="15.0">Modern</mat-option>
                        <mat-option [value]="20">Futuristic</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset class="my-3">
            <div class="d-flex align-items-center mb-2">
                <legend class="w-auto m-0">Magic Modifier</legend>
                <mat-icon matSuffix matTooltip="The “Magical Modifier” shows roughly how many people in your Landmass or
                Continent have the capabilities to use healing magic, fill out in %numbers from 0 -
                100. This does not include the power level of the magic; this is balanced to rather lowlevel magic. If you have higher levels of magic multiply your percentage number by 2
                and then type the result within the field. " class="ms-2">info</mat-icon>
            </div>

            <mat-slider thumbLabel [ngModel]="baseCalculation.variables.mm1 * 10" (ngModelChange)="onMagicModifierChange($event)"></mat-slider>
        </fieldset>
    </mat-card>
</div>