/* You can add global styles to this file, and also import other style files */

html { height:100% }

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #f5f5f5;
}

.mep-no-padding {
    .mat-expansion-panel-body {
        padding: 0;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.mat-form-field-disabled {
    input {
        color: #0070C0 !important;
    }
}

legend {
    font-size: 0.9rem;
    font-weight: bold;
}

.color-calculated {
    color: #0070C0 !important;
}