<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <mat-card class="d-flex flex-column p-5">
      <button mat-raised-button color="primary" (click)="onNewWorldClick()">New World</button>
      <button mat-raised-button color="primary" (click)="onLoadWorldClick()" class="my-3">Load World</button>

      <a href="" class="my-3 text-center">Tutorial</a>

      <div class="d-flex justify-content-between">
        <div>
          Developed by <a target="_blank" href="https://twitter.com/Creaperbox">Creaperbox</a>
        </div>
        <div class="mx-4"></div>
        <div>
          Programed by <a target="_blank" href="https://www.fiverr.com/dreambakers">dreambakers</a>
        </div>
      </div>
    </mat-card>
</div>